/*
 *  novelWriter.io Custom CSS
 */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html {
    --pst-font-size-base: 13pt;
    --pst-font-weight-heading: 600;
    --pst-font-family-base-system: "Source Sans Pro", sans-serif;
}

html[data-theme="light"] {
    --pst-color-primary: #005981;
    --pst-color-secondary: #be5526;
}

html[data-theme="dark"] {
    --pst-color-primary: #ffffff;
}

body {
    line-height: 1.5;
}

.bd-sidebar-primary {
    flex: 0 0 17rem;
}

span.guilabel {
    font-weight: 400;
}

.bd-footer {
    background-color: var(--pst-color-on-surface) !important;
}

.bd-header {
    background-color: var(--pst-color-surface) !important;
}

.sd-octicon {
    vertical-align: baseline;
    height: 1em;
    margin-top: 0.15em;
    margin-bottom: -0.15em;
}

/*
 * Custom Classes
 */

.sidebar-icon {
    width: 10em;
    float: right;
}

.main-page-icon {
    position: absolute;
    float: left;
    margin-left: -8em;
    margin-top: 0.3em;
    z-index: 0;
}

.main-page-icon img {
    width: 6em;
}

.nw-sd-os-card-header {
    background-color: var(--pst-color-surface) !important;
}

.custom-inline-image {
    display: inline-block;
    vertical-align: baseline;
    height: 1rem;
}

.custom-inline-image-tall {
    display: inline-block;
    vertical-align: middle;
    height: 1.8rem;
    margin-right: 0.2rem;
}
