/*
 *  novelWriter.io Custom CSS
 */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html {
    --pst-font-size-base: 12pt;
    --pst-font-family-base-system: "Source Sans Pro", sans-serif;
}

html[data-theme="light"] {
    --pst-color-primary: #005981;
}

html[data-theme="dark"] {
    --pst-color-primary: #ffffff;
}

.bd-sidebar-primary {
    flex: 0 0 17rem;
}

span.guilabel {
    font-weight: 400;
}

.footer-item {
    text-align: center;
}
