/*
 *  novelWriter.io Custom CSS
 */

/*
 *  Fonts
 */

@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/source-sans-pro-v21-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/source-sans-pro-v21-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 600;
  src: url("fonts/source-sans-pro-v21-latin-600italic.woff2") format("woff2");
}

/*
 *  Customisation
 */

html {
    --pst-font-size-base: 13pt;
    --pst-font-weight-heading: 600;
    --pst-font-family-base-system: "Source Sans Pro", sans-serif;
}

html[data-theme="light"] {
    --pst-color-primary: #005981;
    --pst-color-secondary: #be5526;
}

body {
    line-height: 1.5;
}

.bd-sidebar-primary {
    flex: 0 0 17rem;
}

span.guilabel {
    font-weight: 400;
}

.bd-footer,
.bd-header {
    background-color: var(--pst-color-surface) !important;
}

.sd-octicon {
    vertical-align: baseline;
    height: 1em;
    margin-top: 0.15em;
    margin-bottom: -0.15em;
}

img.align-left,
img.align-right,
img.align-center {
    margin-top: 0.4em;
    margin-bottom: 1em;
}

/*
 * Hacks
 */

/* This one ensures that there is no scrollbar on Chrome if it's not needed */
.sidebar-primary-items__end {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

/* This removes the additional padding added when kbds are wrapped in kbds */
kbd.compound {
    padding: 0;
}

/*
 * Custom Classes
 */

.sidebar-icon {
    width: 10em;
    float: right;
}

.main-page-icon {
    position: absolute;
    float: left;
    margin-left: -11em;
    margin-top: 0.3em;
    z-index: 0;
}

.nw-sidebar-logo {
    display: block;
    text-align: left;
}

.nw-sidebar-logo img,
.main-page-icon img {
    width: 9em;
}

.nw-sd-os-card-header {
    background-color: var(--pst-color-surface) !important;
}

.custom-inline-image {
    display: inline-block;
    vertical-align: baseline;
    height: 1rem;
}

.custom-inline-image-tall {
    display: inline-block;
    vertical-align: middle;
    height: 1.8rem;
    margin-right: 0.2rem;
}

.releases-table tbody tr:nth-child(1) {
    background-color: var(--pst-color-surface) !important;
}
